<html>
  <body style="font-family: Arial, sans-serif; background-color: #0e84a1; padding: 2rem; color: #303e4c;">
    <div style="max-width: 600px; margin: auto; background-color: 0e84a1; padding: 1.5rem; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
      <h2 style="color: #abab15;">A Message from Our Team</h2>
      <p style="color: #cbcb18;">Hi <strong>{{email}}</strong>,</p>
      <p style="color: #cbcb18;">{{message}}</p>
      <p style="margin-top: 2rem;">Thank you,<br><strong>Main & Co.</strong></p>
    </div>
  </body>
</html>
